body {
  text-align:center;
  color:black;
  background-color:white;
}

.title {
  margin-top:3%
}

.banner {
  width:100%;
  height:20%;
  
  background-image: url("https://th.bing.com/th/id/OIP.1ixR0zAwb8NRv7Rs__B4BwHaE7?w=249&h=180&c=7&r=0&o=5&pid=1.7");
  background-size:cover;
}
